<nav class="header header--admin navbar navbar-expand-md align-items-center fixed-top border-bottom box-shadow">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="mr-auto">
      
    </div>

    <form class="header__side form-inline mt-2 mt-md-0 ">
      <% if user_signed_in? %>
        <span class="text-white"><%= welcome_message(current_user) %></b>!</span>

        <ul class="navbar-nav">
          <li class="nav-link">
            <%= select_language %>              
          </li>
          <li class="nav-link">
            <%= link_to t('helpers.submit.test.create'), new_admin_test_path, class: ["btn btn-success", "nav-link"] %>
          </li>
          <li class="nav-link">
            <%= link_to admin_badges_path do %>
              <%= octicon 'star' %>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to t('.all_gists'), admin_gists_path, class: ['btn nav-link'] %>
          </li>
          <li class="nav-link">
            <%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: ["btn ", "nav-link"] %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-link">
            <%= select_language %>              
          </li>
          <li class="nav-link">
            <%= link_to t('.sign_up'), new_user_registration_path, class: ["btn", "nav-link"] %>
          </li>
          <li class="nav-link">
            <%= link_to t('.sign_in'), new_user_session_path, class: ["btn", "nav-link"] %>
          </li>
        </ul>
      <% end %>
    </form>
  </div>
</nav>
