<div class="header">
  <nav class="header__container">
    <div class="header__logo">
      <%= link_to 'TestGuru', root_path, class: 'logo' %>
    </div>

    <div class="header__side">
      <% if user_signed_in? %>
        <p>Welcome, <b><%= current_user.full_name %></b>!</p>

        <ul class="header__nav">
          <li><%= link_to 'Exit', destroy_user_session_path, method: :delete, class: :btn %></li>
        </ul>
      <% else %>
        <ul class="header__nav">
          <li><%= link_to 'Sign up', new_user_registration_path, class: :btn %></li>
          <li><%= link_to 'Sign in', new_user_session_path, class: :btn %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>