<p><%= question_header(@question) %></p>

<div class="row">
  <div class="form-promo col-sm-5">
  <%= form_with model: [:admin, @test, @question], local: true do |form| %>
    <%= render 'shared/errors', resource: @question %>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= form.label :body, :class => 'col-form-label' %>
      </div>

      <div class="col-sm-9">
        <%= form.text_field :body, :class => 'form-control' %>
      </div>
    </div>

    <p><%= form.submit :class => "btn btn-success" %></p>
  <% end %>
  </div>
</div>
