<p><strong>Title:</strong> <%= @test.title %></p>
<p><strong>Level:</strong> <%= @test.level %></p>

<ul>
  <li>
    <%= link_to 'Edit test', edit_test_path, :class => "btn"  %>
  </li>
  <li>
    <%= link_to 'Delete test', test_path, method: :delete, data: {confirm: 'Confirm delete'}, :class => "btn" %>
  </li>
  <li></li>
  <li>
    <%= link_to 'Add question', new_test_question_path(@test), :class => "btn"  %>
  </li>
</ul>

<h3>Questions:</h3>
<table>
  <td>№</td>
  <td>Text</td>
  <td colspan="3">Action</td>

  <%= render partial: 'questions/question', collection: @test.questions %>
</table>
