<h1><%= t('.header') %></h1>

<div class="row">
  <div class="form-promo col-sm-5">
  <%= form_with url: feedback_sendmessage_path, local: true do |f| %>
    <%= render 'shared/errors', resource: @question %>

    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.label :message, t('.label'), :class => 'col-form-label' %>
      </div>

      <div class="col-sm-12">
        <%= f.text_area :message, id: :message, rows: 7, :class => 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.submit t('.submit'), :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
  </div>
</div>